<%- include('../../layouts/header.ejs')  %>
<div class="container" style="width:200px; margin-left:auto;margin-right: auto;">
    <div class="row mb-4 mt-4">
        <div class="col">
          <form method="POST" action="/admin/add_product">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                aria-describedby="title"
                name="title"
                placeholder="Title"
              />
            </div>
            <div class="form-group">
              <label for="preview">Price</label>
              <input
                type="text"     
                class="form-control"
                id="price"
                name="price"
                placeholder="Price"
              >
            </div>
            <div class="form-group">
              <label for="course_program">Sale</label>
              <input
                type="text"
                class="form-control"
                id="sale"
                name="sale"
                placeholder="Sale"
              >
            </div>
            <div class="form-group">
              <label for="description">Image URL</label>
              <input
                type="text"
                class="form-control"
                id="imageURL"
                name="imageURL"
                placeholder="imageURL"
              >
            </div>
            <div class="form-group">
              <label for="image">Quantity</label>
              <input
                type="number"
                min="0" 
                class="form-control"
                id="quantity"
                aria-describedby="quantity"
                name="quantity"
                placeholder="Quantity"
              />
            </div>
            <div class="form-group">
              <label for="price">Color</label>
              <input
                type="text"
                class="form-control"
                id="color"
                aria-describedby="color"
                name="color"
                placeholder="Color"
              />
            </div>
            <div class="form-group">
                <label for="price">Description Short</label>
                <textarea 
                  type="text"
                  class="form-control"
                  id="descriptionShort"
                  aria-describedby="descriptionShort"
                  name="descriptionShort"
                  placeholder="Description Short"
                ></textarea>    
              </div>
              <div class="form-group">
                <label for="price">Description Full</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="descriptionFull"
                  aria-describedby="descriptionFull"
                  name="descriptionFull"
                  placeholder="Description Full"      
                ></textarea> 
              </div>
              <div class="form-group">
                <label for="price">Brand</label>
                <input
                  type="text"
                  class="form-control"
                  id="brand"
                  aria-describedby="brand"
                  name="brand"
                  placeholder="Brand"
                />
              </div>
              <div class="form-group">
                <label for="price">Model</label>
                <input
                  type="text"
                  class="form-control"
                  id="model"
                  aria-describedby="model"
                  name="model"
                  placeholder="Model"
                />
              </div>
              <div class="form-group">
                <label for="price">Released</label>
                <input
                  type="date"
                  class="form-control"
                  id="released"
                  aria-describedby="released"
                  name="released"
                  placeholder="Released"
                />
              </div>
              <div class="form-group">
                <label for="price">Dimentions</label>
                <input
                  type="text"
                  class="form-control"
                  id="dimentions"
                  aria-describedby="dimentions"
                  name="dimentions"
                  placeholder="Dimentions"
                />
              </div>
              <div class="form-group">
                <label for="price">Display Size</label>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="display_size"
                  aria-describedby="display_size"
                  name="dispay_size"
                  placeholder="Dispay Size"
                />
              </div>
              <div class="form-group">
                <label for="price">Features</label>
                <textarea  
                 type="text"
                 class="form-control"
                 id="features"
                 aria-describedby="features"
                 name="features"
                 placeholder="Features"  
                ></textarea> 
              </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
</div>
<%- include('../../layouts/footer.ejs') %>