<%- include('../../layouts/header.ejs')  %>

<div class="container" style="width: 500px; margin-top: 10px;">
    <ul style="list-style-type:none;" id="sideManu" class="nav nav-tabs nav-stacked">
        <li><a href="/admin/add_product"><i class="icon-chevron-right"></i>Add product</a></li>
        <li><a href="/admin"><i class="icon-chevron-right"></i>Edit & Delete products</a></li>																								
    </ul>
</div>

<%- include('../../layouts/footer.ejs') %>